/* You can add global styles to this file, and also import other style files */
// css general 
*{
    margin: 0;  
    padding: 0;
    box-sizing: border-box;

}

:root{
    --blanco: #fff;
    --negro: #000;
    --gris: #333;
    --naranja: #f90;
    --violeta: purple;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}